<?xml version="1.0"?>
<siteconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <webname>网上的绿色生活后台管理</webname>
  <weburl>http://www.maifeipin.com</weburl>
  <weblogo />
  <webcompany>网上的绿色生活</webcompany>
  <webaddress>北京市海淀区西二旗18号</webaddress>
  <webtel>13800138000</webtel>
  <webfax>-</webfax>
  <webmail>admin@maifeipin.com</webmail>
  <webcrod>京ICP：11040974</webcrod>
  <webtitle>网上绿色生活，废品交易发布系统</webtitle>
  <webkeyword>网上绿色生活，废品交易、求购，回收等发布系统</webkeyword>
  <webdescription />
  <webcopyright />
  <webpath>/</webpath>
  <webmanagepath>admin</webmanagepath>
  <staticstatus>1</staticstatus>
  <staticextension>html</staticextension>
  <memberstatus>1</memberstatus>
  <commentstatus>0</commentstatus>
  <logstatus>1</logstatus>
  <webstatus>1</webstatus>
  <webclosereason>网站正在维护中，请稍候访问……</webclosereason>
  <webcountcode />
  <smsapiurl>http://sms.MaiFeiPin.com/httpapi/</smsapiurl>
  <smsusername>test</smsusername>
  <smspassword>e10adc3949ba59abbe56e057f20f883e</smspassword>
  <emailsmtp>smtp.qq.com</emailsmtp>
  <emailport>25</emailport>
  <emailfrom>info@it134.cn</emailfrom>
  <emailusername>info@it134.cn</emailusername>
  <emailpassword>EA4C94A47ED87546</emailpassword>
  <emailnickname>动力启航</emailnickname>
  <filepath>upload</filepath>
  <filesave>2</filesave>
  <fileextension>gif,jpg,png,bmp,rar,zip,doc,xls,txt</fileextension>
  <attachsize>51200</attachsize>
  <imgsize>10240</imgsize>
  <imgmaxheight>800</imgmaxheight>
  <imgmaxwidth>800</imgmaxwidth>
  <thumbnailheight>300</thumbnailheight>
  <thumbnailwidth>300</thumbnailwidth>
  <watermarktype>2</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>80</watermarkimgquality>
  <watermarkpic>watermark.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>网上绿色生活</watermarktext>
  <watermarkfont>Tahoma</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
  <sysdatabaseprefix>mfp_</sysdatabaseprefix>
  <sysencryptstring>maifeipin.com</sysencryptstring>
</siteconfig>